@font-face {
  font-family: "Roboto Condensed";
  src: url("./Fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

body{
  width:100vw;
  height:100vh;
  background-color: #2D728F;
  font-family: 'Roboto Condensed', sans-serif;
}
